extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h2 Here are the list view of all cards belonging to User Login Account
  hr
  section.user-card
  nav.user-nav
    .nav-box
      ul.nav-menu1
        li Home
          a(href="/")
            i.fa-solid.fa-house(aria-hidden='true')
        li Profile
          a(href='/cards')
            i.fa-solid.fa-user(aria-hidden='true') 
        li Create Health Card 
          a(href='/cards/add')
            i.fa-solid.fa-plus(aria-hidden='true') 
        li Logout 
          a(href='/')
            i.fa-solid.fa-right-from-bracket(aria-hidden='true') 
  hr
  .user-cards
    h2 View your LifeTracker Cards!
    if documents
      each document in documents
        table 
          tr  
            th name 
            th macros
          tr 
            td= document.name 
            td= document.macros 
    else 
      p No cards yet 


  .user-card
    h2 Create a LifeTracker Card!
    hr

    