extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h2 Here is the homepage for user login account displaying CRUD for one daily card and prior cards

  section.user-card
  nav.user-nav
    .nav-box
      ul.nav-menu1
        li ahref1
        li ahref2
      ul.nav-menu2
        li ahref1 
        li ahref2

  .user-cards
    h2 View your LifeTracker Cards!
  .user-card
    h2 Create a LifeTracker Card!