extends layout

block content
  h1= title
  p Are you sure you want to delete the following Contact?
  p=card.name
  hr
  form(method='POST', action=`/cards/${card.id}/delete`)
    button.btn-delete(type='submit') Confirm Delete
    |  
    a(href=`/cards/${card.id}`) Cancel
 

