extends layout

block content
  h1= title
  p Welcome to #{title}

  section.home-section

  .home-welcome-div
    h1 LifeTracker
    p Track your Life!
    h2 What is LifeTracker?
    p LifeTracker is a web application that helps users keep track of their fitness and health 
  
    h2 How does LifeTracker Work?
    p Users keep health cards of each day and track thier meals/exercise 
    p Users can also interact with other users in the blog area.

  .home-login-div
    img(src='/public/images/logo.png')
    h2 Sign in to LifeTracker
    .home-login-form
      form
        label Username or Email
        input(type='Email')
        br
        label Password
        input(type='password')
        br
        button(type='submit') Sign In
    .home-register-google
      button Register
      button
        i.fa-brands.fa-google(aria-hidden='true') 

  
  
  div 
    label Enter user account page - after signing in
      a(href="/cards")
        i.fa-solid.fa-arrow-right(aria-hidden='true') 
        
        