*{
  color: whitesmoke;
  background-color:  #000000;
  font-family: 'Cormorant Garamond', serif;
}
body {
  padding: 50px;
  font-size: 1rem;
}
p{
  font-size: 1.2rem;
}

a{
  background-color:#000000 ;
  color: rgb(246, 206, 106);
  padding:10px;
  border: 1px solid antiquewhite;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}
a:hover{
  background-color:rgb(246, 206, 106) ;
  color:#d3cccb ;
  transition: all .5s ease-out;
}
ul.contacts-list{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.error-msg{
  color: red;
}
#contacts-wrapper{
  margin: 0px 1rem;
  padding:1rem;
  height: auto;
  border: 1px solid antiquewhite;
  border-radius: 5px;
}
.contact-actions{
  padding: 1rem;
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  
}
.index-form{
  margin: 5px 5px;
  font-size: 1rem;
}
.index-form label{
  font-size: 1.3rem; 
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
form input{
  margin: 10px 10px;
  border: 1px solid antiquewhite;
  color: blanchedalmond;
  height: 1.5rem;
}
.addForm-content{
  margin: 2rem 0rem;
}
.home-section {

}
.home-welcome-div{

}
.home-login-div{

}
.home-logim-form{

}
.home-register-google{

}


/* ----------------NAVIGATION BAR----------*/

nav {
  width: 100%;
  height: 10%;
  background-color: black;
  color: silver;
  opacity: .8;
  z-index: 2;
}


@media screen and (max-width: 740px) {

  .nav-menu1 {
    display: none;
  }

  .nav-menu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #icons {
    font-size: 1.2em;
  }
  
  nav ul li {
    font-size: 0.78em;
    line-height: 2.8em;
    list-style: none;
    letter-spacing: 0.055em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  nav ul li:hover {
    color: white;
    transition: all 0.4s ease-in;
  }

  li:first-of-type {
    font-size: 1.1em;
  }

}

@media screen and (min-width:741px) {
  .nav-menu1 {
    display: flex;
  }



  .nav-box {
    max-width: 100%;
    margin: 0% 10%;
  }

  #icons {
    font-size: 1.2em;
  }

  .nav-menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  nav ul li {
    font-size: 0.78em;
    line-height: 2.8em;
    list-style: none;
    letter-spacing: 0.055em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  nav ul li:hover {
    color: white;
    transition: all 0.4s ease-in;
  }

  li:first-of-type {
    font-size: 1.1em;
  }


}